<%= content_for :title, @article.title %>

<%= render "omni_article/user/articles/wechat_web_config", article: @article if browser.wechat? %>
<% ui_settings = OmniArticle::Article::UiSettings.new(@article.custom_settings) %>

<section>
  <div class="card">
    <div class="card-body">
      <%= rich_text_content @article.content %>
    </div>
  </div>
</section>

<%= render "omni_article/user/articles/history_nav" if ui_settings.show_history_nav %>
